body {
	padding-top: 50px;
        padding-bottom: 50px;
}

.content {
	margin-top: 50px;
}

.form-test {
    width: 70%;
    position: fixed;
    left: 15%;
  }

 .form-signin {
    width: 200px;
    position: fixed;
    top: 20%;
    left: 50%;
    //margin-top: -200px;
    margin-left: -100px;
  }
  
  
 #wizard-container {
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
  }
  
  
  
 